[Desktop Entry]
Version=1.0
Name=Mancala
Comment=A strategy game
GenericName=Mancala
Exec=chromium-browser --enable-plugins --enable-extensions --enable-user-scripts --enable-printing --enable-sync --use-gl=egl --ignore-gpu-blacklist --auto-ssl-client-auth %U --app-id=anabakkiebghmghfmokcjeaocehkclod --load-extension=/usr/share/mancala/ --no-first-run
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=mancala
Categories=Game;
StartupWMClass=Chromium
StartupNotify=true
